@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --custom_scroll_width: 5px;
        --custom_scroll_height: 5px;
        --font_size_title_b: 60px;
        --font_size_title: 36px;
        --font_size_title_m: 28px;
        --font_size_title_s: 20px;
        --block_head_offset: 40px;
        --block_head_offset_s: 28px;
        --block_padding: 24px;
        --block_padding_s: 20px;
        --outside_gap: 80px;
        --outside_gap_s: 64px;
        --outside_gap_ss: 48px;
        --inner_gap_b: 20px;
        --inner_gap: 16px;
        --inner_gap_s: 8px;
    }


    .swiper-controls
    {
        padding: 7px;
    }


    .swiper-button-next,
    .swiper-button-prev
    {
        width: 52px;
        height: 52px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__content > .f-button.is-close-btn,
    .is-compact .fancybox__content > .f-button.is-close-btn
    {
        --f-button-width: 52px;
        --f-button-height: 52px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs .btn
    {
        height: 44px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head .logo
    {
        width: 41px;
        min-width: 41px;
        height: 20px;
    }



    /*---------------
        Load more
    ---------------*/
    .load_more
    {
        margin-top: calc(var(--inner_gap_b) * 2);
    }



    /*---------------
        All llink
    ---------------*/
    .all_link a span
    {
        max-width: calc(100% - 32px);
    }



    /*------------
        Header
    ------------*/
    header .menu_service_info
    {
        padding-block: var(--inner_gap_b);
        padding-inline: var(--inner_gap_b);
    }



    /*----------------
        Block head
    ----------------*/
    .block_head > .icon
    {
        width: 43px;
        height: 24px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: calc(var(--inner_gap_b) * 2);
        padding-inline: 0;
    }


    .first_section .bg
    {
        padding-block: var(--inner_gap_b) var(--outside_gap);

        border-radius: 0;
    }


    .first_section .services_grid
    {
        margin-bottom: var(--outside_gap_s);
    }


    .first_section .data
    {
        width: 600px;

        --button_width: 240px;
    }


    .first_section .data .btn
    {
        height: 60px;
    }


    .first_section .benefits
    {
        width: 268px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .block_head .desc
    {
        font-size: var(--font_size_m);
    }


    .advantages .icon
    {
        width: 48px;
    }



    /*-------------
        Tariffs
    -------------*/
    .tariffs .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .tariffs .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .tariffs .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .tariffs .grid_row > *
    {
        width: 315px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*-----------
        Calc
    -----------*/
    .calc .block_head
    {
        width: 100%;
        margin-bottom: var(--block_head_offset);
    }


    .calc .block_head > .icon
    {
        display: none;
    }


    .calc .block_head .title br
    {
        display: none;
    }


    .calc .data,
    .calc .order
    {
        width: calc(50% - var(--inner_gap) * 2);
    }



    /*-----------
        Steps
    -----------*/
    .steps .step
    {
        min-height: 360px;

        gap: 4px;
    }


    .steps .step .thumb
    {
        width: 180px;
    }



    .steps .step.finish
    {
        min-height: 320px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .ratings .item
    {
        gap: var(--inner_gap_s);
        --icon_width: 48px;
    }


    .reviews .ratings .logo + *
    {
        width: calc(100% - var(--icon_width) - var(--inner_gap_s));
    }


    .reviews .ratings .name
    {
        font-size: var(--font_size);
    }


    .reviews .ratings .val
    {
        margin-right: 0;
    }


    .reviews .ratings .rating .icon
    {
        width: 14px;
        min-width: 14px;
    }



    .reviews .review .top
    {
        --photo_width: 48px;
    }


    .reviews .review .name
    {
        font-size: var(--font_size);
    }


    .reviews .review .rating .icon
    {
        width: 14px;
        min-width: 14px;
    }


    .reviews .review .video .icon
    {
        width: 64px;
    }



    /*----------------
        Cases head
    ----------------*/
    .cases_head .count
    {
        width: auto;
    }



    /*-----------
        Cases
    -----------*/
    .cases .tabs
    {
        margin-bottom: calc(var(--inner_gap_b) * 2);
    }


    .cases .grid_row
    {
        --count_per_line: 3;
    }


    .cases .grid_row.inline
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_s);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .cases .grid_row.inline::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .cases .grid_row.inline::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .cases .grid_row.inline > *
    {
        width: 315px;
        margin: 0;

        scroll-snap-align: start;
    }


    .cases .case
    {
        padding: var(--block_padding);
    }


    .cases .case .area
    {
        top: var(--block_padding);
        left: var(--block_padding);
    }


    .cases .case .info
    {
        display: flex;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form:not(.block)
    {
        margin-bottom: calc(var(--inner_gap_b) * 2);
    }


    .action_form .info
    {
        width: 400px;
    }



    /*------------------
        Information
    ------------------*/
    .information .accordion_item .data
    {
        padding-inline: 61px 0;
    }



    /*----------------
        Price list
    ----------------*/
    .price_list .desc
    {
        font-size: var(--font_size_m);
    }



    /*-------------------
        Services grid
    -------------------*/
    .services_grid .service .icon
    {
        width: 32px;
    }



    /*------------
        Prices
    ------------*/
    .prices .section .head
    {
        padding-block: var(--cont_padding_half);

        --icon_width: 44px;
    }


    .prices .section .col_desc
    {
        width: 220px;
        min-width: 220px;
    }


    .prices .section .col_price
    {
        width: 160px;
        min-width: 160px;
    }


    .prices .section .item
    {
        padding-block: var(--cont_padding_half);
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        --action_form_width: calc(100% - 480px - var(--inner_gap) * 2);
    }


    .contacts_info .data
    {
        width: calc(100% - 480px - var(--inner_gap) * 2);

        column-gap: var(--inner_gap);
    }


    .contacts_info .phone
    {
        font-size: var(--font_size_title_m);
    }


    .contacts_info .messengers .icon
    {
        width: 24px;
    }


    .contacts_info .action_form
    {
        margin: 0;
        padding: calc(var(--inner_gap) * 2);
    }


    .contacts_info .action_form .logo
    {
        width: 248px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head .bg
    {
        padding-block: var(--inner_gap) 160px;
    }


    .about_head .info
    {
        width: 100%;

        text-align: center;
    }


    .about_head .info .title
    {
        justify-content: center;

        text-align: left;
    }


    .about_head .info .title .icon
    {
        width: 115px;
        height: 64px;
    }


    .about_head .info .title span
    {
        max-width: calc(100% - 139px);
    }



    .about_head .mission
    {
        min-height: 0;
        margin-top: -80px;
    }


    .about_head .mission .cont > div
    {
        width: calc(50% - var(--inner_gap) / 2);
    }


    .about_head .mission .desc
    {
        font-size: var(--font_size_m);
    }



    /*----------------
        Our values
    ----------------*/
    .our_values .item
    {
        min-height: 0;
        padding-inline: var(--inner_gap_b);
    }


    .our_values .item .icon
    {
        width: 52px;
    }



    /*-----------------
        About stats
    -----------------*/
    .about_stats .data
    {
        width: calc(50% - var(--inner_gap) / 2);
    }


    .about_stats .logo
    {
        width: calc(50% - var(--inner_gap) * 2);
    }



    /*--------------
        Big boss
    --------------*/
    .big_boss .data
    {
        min-height: 0;
        padding-inline: 0;
    }


    .big_boss .label
    {
        padding-block: var(--cont_padding_half);
    }


    .big_boss .name
    {
        font-size: 54px;
    }


    .big_boss .quote
    {
        width: 488px;
    }


    .big_boss .quote .icon
    {
        width: 35px;
        height: 28px;
    }


    .big_boss .quote span
    {
        width: calc(100% - 55px);
    }



    .big_boss .photo
    {
        right: 0;

        margin-right: 0;
    }



    /*----------
        Team
    ----------*/
    .team .block_head .desc
    {
        font-size: var(--font_size_m);
    }


    .team .grid_row .image
    {
        height: 420px;
    }



    /*------------------
        Service head
    ------------------*/
    .service_head
    {
        margin-bottom: calc(var(--inner_gap) * 2);
    }


    .service_head .bg
    {
        min-height: 450px;
    }



    .service_head .info
    {
        width: 528px;
    }



    .service_head .info .title
    {
        font-size: 44px;
    }


    .service_head .info .btn
    {
        height: 60px;
    }



    .service_head .benefits
    {
        width: 268px;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info .block_head
    {
        width: 320px;
    }


    .service_info .text_block
    {
        width: calc(100% - 360px);
    }


    .service_info .images_slider
    {
        margin-top: calc(var(--inner_gap) * 2);
    }



    /*----------------------
        Service included
    ----------------------*/
    .service_included .block_head
    {
        width: 320px;
    }


    .service_included .data
    {
        width: calc(100% - 360px);
    }


    .service_included .item
    {
        padding-block: var(--cont_padding_half);
    }



    /*------------------------
        Service advantages
    ------------------------*/
    .service_advantages .block_head
    {
        width: 320px;
    }


    .service_advantages .data
    {
        width: calc(100% - 360px);
    }


    .service_advantages .grid_row
    {
        --count_per_line: 2;
    }


    .service_advantages .item,
    .service_advantages .btn
    {
        min-height: 224px;
    }


    .service_advantages .btn .desc
    {
        width: calc(100% - 60px);
    }


    .service_advantages .btn .arr
    {
        width: 48px;
    }


    .service_advantages .btn.big
    {
        min-height: 160px;
        padding-inline: var(--inner_gap_b);

        --width_multiplier: 2;
    }


    .service_advantages .btn.big .row
    {
        width: 268px;
        min-width: 268px;
    }


    .service_advantages .btn.big .desc
    {
        width: 180px;
        max-width: calc(100% - 60px);
    }



    /*---------------------
        Service tariffs
    ---------------------*/
    .service_tariffs .block_head .title
    {
        width: 450px;
    }


    .service_tariffs .block_head .desc
    {
        width: 320px;
    }


    .service_tariffs .tariff .name
    {
        font-size: var(--font_size_title_s);
    }


    .service_tariffs .tariff .price
    {
        font-size: var(--font_size_m);
    }



    /*-------------------
        Service cases
    -------------------*/
    .service_cases .block_head
    {
        width: 420px;
    }


    .service_cases .count
    {
        margin-left: 100px;
    }


    .service_cases .case .data > div:first-child
    {
        width: calc(100% - 168px);
    }


    .service_cases .case .info
    {
        width: 148px;
    }


    .service_cases .case .info > *
    {
        --icon_width: 24px;
    }


    .service_cases .case .info .icon + *
    {
        width: calc(100% - var(--icon_width) - var(--inner_gap_s));
    }



    /*------------------
        Before after
    ------------------*/
    .before_after .slider .button
    {
        width: 72px;
        height: 72px;
    }


    .before_after .slider .button .icon
    {
        width: 24px;
    }



    /*---------------------
        Service compare
    ---------------------*/
    .service_compare .features
    {
        width: 240px;
    }


    .service_compare .items
    {
        width: calc(100% - 260px);
    }


    .service_compare .features > *,
    .service_compare .item > *
    {
        min-height: 48px;
    }



    /*--------------------
        Service prices
    --------------------*/
    .service_prices .discount
    {
        margin-top: calc(var(--inner_gap) * 2);
    }



    /*--------------
        Discount
    --------------*/
    .discount .data
    {
        padding: calc(var(--inner_gap) * 2);
    }


    .discount .block_head
    {
        width: 360px;
    }


    .discount .block_head .desc
    {
        font-size: var(--font_size_m);
    }


    .discount .swiper
    {
        width: calc(100% - 400px);
        height: 210px;
        padding-inline: 72px;
    }


    .discount .swiper-slide
    {
        height: 100px;
    }



    /*-----------------------
        Service documents
    -----------------------*/
    .service_documents .block_head
    {
        width: 320px;
    }


    .service_documents .data
    {
        width: calc(100% - 360px);
    }


    .service_documents .link .name
    {
        font-size: var(--font_size);
    }


    .service_documents .link .icon
    {
        width: 40px;
    }



    /*------------
        Footer
    ------------*/
    footer .contacts
    {
        width: 300px;
    }



    /*-----------------------
        PopUp - Case info
    -----------------------*/
    .case_info .data
    {
        padding: calc(var(--inner_gap_b) * 2);
    }


    .case_info .images .image
    {
        min-height: 673px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: var(--cont_padding_double);

        --modal_width: 480px;
    }


    .modal.big_w
    {
        --modal_width: 640px;
    }
}
