.swiper-controls
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: fit-content;
    padding: 11px;

    border: 1px solid rgb(var(--dark_color) / .2);
    border-radius: 100px;

    gap: 8px;
}


.swiper-button-next,
.swiper-button-prev
{
    top: 0;
    bottom: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 60px;
    height: 60px;
    margin-block: auto;

    transition: .2s linear;
    transform: none;

    color: rgb(var(--light_color));
    border-radius: 50%;
    background: rgb(var(--light_color) / .2);

            backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}


.swiper-button-prev
{
    left: var(--block_padding);
}

.swiper-button-next
{
    right: var(--block_padding);
}


.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 16px;

    aspect-ratio: 1 / 1;
}


.swiper-button-prev .icon
{
    transform: rotate(180deg);
}


.swiper-controls .swiper-button-next,
.swiper-controls .swiper-button-prev
{
    position: relative;
    inset: 0;

    margin: 0;

    color: rgb(var(--dark_color));
    background: rgb(var(--dark_color) / .2);
}


.swiper-controls .swiper-button-next:hover,
.swiper-controls .swiper-button-prev:hover
{
    color: rgb(var(--light_color));
    background: rgb(var(--dark_color));
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    bottom: -33px;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 11px;

    pointer-events: none;

    gap: 11px;
}


.swiper-pagination-bullet
{
    display: block;

    width: 11px;
    height: 11px;

    transition: .2s linear;
    pointer-events: auto;

    opacity: 1;
    border: 2px solid #0098ff;
    border-radius: 50%;
    background: #0098ff;
}


.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    border-color: #0098ff;
    background: #fff;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
